@tailwind base;
@tailwind components;
@tailwind utilities;


.drop-and-fade {
    animation: drop-and-fade 750ms linear;
    animation-fill-mode: forwards;
    animation-delay: 0;
}

@keyframes drop-and-fade {
    0% {
        opacity: 100%;
        width: 8px;
        height: 8px;
    }
    100% {
        transform: translateY(200px);
        width: 120px;
        height: 120px;
        opacity: 0%
    }
}